<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<h1>Hello you are on student welcome page</h1>
<!-- Thext-->

<h2 th:text="${'Hello '+name}"></h2>
<h2 th:text="${'You are signed to '+course+' course'}"></h2>
<h2 th:text="${'You have assigned '+subject+' subject'}"></h2>
<h2 th:text="${'Your student ID is '+studentID}"></h2>
<h2 th:text="${numbers}">This is hardcoded list of number </h2>
<h2 th:text="${numbers.get(3)}"></h2>
<h2 th:text="${birthdate}"></h2>
<h2 th:text="${student.getFirstName()}"></h2>
<!--LINK-->
<a th:href="@{https://www.udemy.com}">Go to your classroom</a>
<a th:href="@{/student/register}">Register</a>

<!-- Adding params-->
<a th:href="@{/student/welcome(id=3)}">Link2</a>
<a th:href="@{/student/welcome(id=${student.id})}">Link3</a>
<!--Iteration-->
<ul>

    <li th:each="number:${numbers}" th:text="${number}"></li>

</ul>
<!--Fragment-->
<div th:replace="fragments/footer :: kari"></div>


</body>
</html>