<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--This is comment

    Title, styles, link, scripts, meta ond other
    -->


</head>
<body>
Welcome to developers course, Karina=)
<h1>spring boot</h1>
<h2>here is h2 heading </h2>
<h3>here is h3 heading </h3>
<h1 align="center" style="color: blueviolet">Spring framework styled</h1>
<img src="springboot.png" alt="spring boot img here">
<ul>
<li>MVC</li>
<li>ORM</li>
<li>APII</li>
<li>ML</li>
</ul>
<a href="https://amazon.com">Amazon</a>
<table>
    <tr>
        <td>Loop</td>
        <td>Collection</td>
        <td>List</td>
        <td>Linked List</td>
    </tr>
</table>
<label>User Name </label>
<input type="text" name="username"><br>
<label>Password</label>
<input type="password"><br>
<label>Enter your comments</label>
<textarea name="comments"></textarea><br>
<label>Please enter your favourite class</label><br>
<input type="radio" name="spring" value="IoC" checked="checked">IoC
<input type="radio" name="spring" value="DI">DI
<input type="radio" name="spring" value="MVC">MVC<br>
<label>Please selecty your company</label><br>
<input type="checkbox" name="company" value="Bank of America">BOA
<input type="checkbox" name="company" value="SoutthWest Airlines">SWA
<input type="checkbox" name="company" value="Tesla">TSLA
<input type="checkbox" name="company" value="Apple">AAPL<br>
<label>Select your car</label><br>
<select name="caars">
    <option value="tesla">Tesla</option>
    <option value="lexus">Lexus</option>
    <option value="bmw">BMW</option>
    <option value="Honda">Honda</option>
</select>
<form action="#" method="get">
    First name: <input type="text" name="first_name"/><br>
    Last name: <input type="text" name="last_name"/>
</form>
<div>
    <h3> Tjis is Java dev cource </h3>
    <ul>
        <li>Spring framework</li>
        <li>Security</li>
        <li>Unit testing</li>
    </ul>
</div>


</body>
</html>